body{
    font-family: 'Roboto Mono', monospace;
}
h1{
    font-size: 50px;
    padding-left: 30px;

}
h4{
    margin-left: 5px;

}
a{
    text-decoration: none;
    font-size: 13px;
    background-color: rgb(255, 255, 255);
    border: 1.5px solid rgb(65, 63, 63);
    border-radius: 5px;
    margin: 5px;
    border: 2px solid;
}
img{
    width: 100%;

}
.header{
    display: flex;
    height: 300px;
    background-color: black;
    color: white;
    border-radius: 15px;
    margin: 25px 50px;
    padding: 3px;

}
p{
    font-size: 10px;
    padding-left: 30px;
}

.live-btn{
    text-decoration: none;
    margin: 40px;
    background-color: #DD0000;
    border-radius: 5px;
    padding: 4px;
}

/* header ends */

.middle-part{
    display: flex;
    padding: 5px;
}

.button{
    background-color: rgb(15, 14, 14);
    border: 2px solid black;
    color: black;
    padding: 10px;
    height: 150px;
    width: 150px;
    margin: 100px 50px;
    padding: 40px;
    border-radius: 5px;
    
}
.upcoming{
    display: none;
}

button{
    margin-top: 10px;
    font-size: 10px;
    font-weight: 800;
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    cursor:pointer
}

.blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 90px;
    font-size: 15px;
    
    
}
.flags{
    text-align: center;
    border: 1px solid ;
    height: 150px;
    padding: 40px;
}

.flag{
    display: flex;    
}
.flags{
        width: 200px;
        height: 200px;
        border: 1px solid #d0c8c8;
        margin: 10px 20px 10px;
        border-radius: 5px;
        
}
p{
    font-size: 15px;
    color: rgb(110, 117, 123);

}
.gap{
    margin: 25px;
    font-weight: bold;
}

.blog{
    width: 324px;
    height: 362px;
    left: 476px;
    top: 826px;
    border: 1px solid #d0c8c8;
    margin: 10px 20px 10px;
    border-radius: 5px;
    height: 98%
}


.blog-detail{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: rgb(71, 93, 112);
}

.end{
    height: 300px;
    background-color: black;
}
.foter-h{
    color: white;
    text-align: center;
}
.break{
    color: azure;
    width: 75%;
    text-align: center;
}
.footer1{
    text-align: center;

}
.footer{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 50px;
    margin: auto;
    color: rgb(181, 176, 169);
}

.social-menu{
    color: rgb(154, 28, 60);
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}